name: Unit tests

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.5"

      - name: Install Dependencies
        run: go mod tidy

      - name: Run Tests
        run: go test ./... -v
